# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.pytest_cache/
*.mypy_cache/
*.coverage
*.cache

# Virtualenv / venv
venv/
env/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log


.env
.env.*
!.env.example
*.db
data/



# Docker
*.pid
*.sock
*.pid.lock
docker-compose.override.yml

# Docker volumes
pgdata/

# Build / dist
build/
dist/
*.tar.gz

# Byte-compiled / temp
*.pyc
